<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
    <meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>
	
	<div class="box-with-text"><h1 align ="center">JNJ COSTUMES</h1></div>
	<ul id="menu">
    <li><a href="/">Home</a></li>
    <li>
        <a href="/products">Products ￬</a>
        <ul class="hidden">
            <li><a href="/products#costumes">COSTUMES</a></li>
            <li><a href="/products#masks">MASKS</a></li>
            <li><a href="/products#decors">HOUSE DECORATIONS</a></li>
        </ul>
    </li>
    <li><a href="/faq">FAQS</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
	    <div class="message">
            <h1>JNJ COSTUMES</h1>
           
        </div>

        <div class="b-layers">
            
            <div class="b1">
                <!--blocks-->
                <div class="blocks">
                    <div class="block block-1">
                        <div class="pumpkins">
                            <!--p-->
                            <div class="pumpkin">
                                <div class="p-eye"></div>
                                <div class="p-nose"></div>
                                <div class="p-teeth"></div>
                            </div>
                            <!--p-->
                            <!--p-->
                            <div class="pumpkin">
                                <div class="p-eye"></div>
                                <div class="p-nose"></div>
                                <div class="p-teeth"></div>
                            </div>
                            <!--p-->
                        </div>
                    </div>
                    <div class="block block-2">
                        <div class="roof"></div>
                        <div class="mid">
                            <div class="windows">
                                <div class="win"></div>
                                <div class="win"></div>
                                <div class="win"></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="block block-3">
                        <div class="tower">
                            <div class="windows">
                                <div class="win"></div>
                                <div class="win"></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="block block-4"></div>
                    <div class="block block-5"></div>
                    <div class="block block-6"></div>
                </div>
                <!--blocks-->
            </div>
            <div class="b2"></div>
            <div class="b3"></div>
            <div class="b4">
                        <div class="bats">
            <!--new bat-->
            
            <!--new bat-->
            <!--new bat-->
            
            <!--new bat-->
            <!--new bat-->
            
            <!--new bat-->
            <!--new bat-->
            
            <!--new bat-->
        </div>
             <div class="moon">
             </div>
            </div>
        </div>
        
        <div class="make_aligned">
            <div class="scroller">
			<p><b>How do I calculate shipping time?</b></p><br />


			<p>Shipping from JNJ_Costumes.com is FAST and easy! Most orders placed by 3:00 pm EST, Mon-Fri, will usually ship the same day, providing credit card information is correct, the shipping address is correct, your order is not oversize air, and it is not a Holiday.</p><br />


			<p><b>How does JNJ Costumes ship?</b></p><br />

			<p>JNJ_Costumes.com now offers Surepost as part of our shipping process. Using Surepost UPS carries the package to your local post office and then your local postal carrier makes 
			the final delivery. UPS Surepost is for residential orders weighing less than 10 pounds which are set for delivery in the 50 United States (including Hawaii and Alaska). We offer a number of expedited shipping methods as well to meet your shipping needs.</p><br />

			<p><b>If I need to return my order, how do I do it?</b></p><br />


			<p>We will gladly accept requests for returns within 30 days from the date you received your purchase. Please read through our Return Policy to ensure your item is eligible 
			for a return.</p><br />

			<p><b>Do you carry the same products online as you do in stores?</b></p>
			<br />

			<p>Selection and price may vary by store and market and from store to website. Most Online exclusive items will be noted either on the product image or product description. If you see something online but you'd like to purchase at your local store, write down the item number of the item(s) found underneath the product description on the individual product page. Then, call your nearest JNJ Costume store and ask if they have the item in stock and we will gladly check for you.</p><br />

			

		</div>
    </div> <!-- end of div scroller -->

</body>
</html>

