<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link rel="stylesheet" type="text/css" href="/css/styles_products.css">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="box-with-text"><h1 align ="center">JNJ COSTUMES</h1></div>
   <ul id="menu">
    <li><a href="/">Home</a></li>
    <li>
        <a href="/products">Products ￬</a>
        <ul class="hidden">
            <li><a href="/products#costumes">COSTUMES</a></li>
            <li><a href="/products#masks">MASKS</a></li>
            <li><a href="/products#decors">HOUSE DECORATIONS</a></li>
        </ul>
    </li>
    <li><a href="/faq">FAQS</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<div class="message">
    <h1>JNJ COSTUMES</h1>
</div>

<div class="b-layers">

    <div class="b1">
        <!--blocks-->
        <div class="blocks">
            <div class="block block-1">
                <div class="pumpkins">
                    <!--p-->
                    <div class="pumpkin">
                        <div class="p-eye"></div>
                        <div class="p-nose"></div>
                        <div class="p-teeth"></div>
                    </div>
                    <!--p-->
                    <!--p-->
                    <div class="pumpkin">
                        <div class="p-eye"></div>
                        <div class="p-nose"></div>
                        <div class="p-teeth"></div>
                    </div>
                    <!--p-->
                </div>
            </div>
            <div class="block block-2">
                <div class="roof"></div>
                <div class="mid">
                    <div class="windows">
                        <div class="win"></div>
                        <div class="win"></div>
                        <div class="win"></div>

                    </div>
                </div>
            </div>
            <div class="block block-3">
                <div class="tower">
                    <div class="windows">
                        <div class="win"></div>
                        <div class="win"></div>

                    </div>
                </div>
            </div>
            <div class="block block-4"></div>
            <div class="block block-5"></div>
            <div class="block block-6"></div>
        </div>
        <!--blocks-->
    </div>
    <div class="b2"></div>
    <div class="b3"></div>
    <div class="b4">
        <div class="bats">

        </div>
        <div class="moon">
        </div>
    </div>
</div>

<div style="clear:both"></div>	

<div class="scroll"> <!-- start div scroll -->
    <div id="costumes">
     <h1>
      Costumes
  </h1>
</div>
<div class="img">
 <a href="#">
  <img src="/images/zombie1.jpeg" alt="zombie" height="150">
</a>
<div class="desc">Zombie<br>Price: $299.99</div>
</div>
<div class="img">
  <a href="#">
   <img src="images/clown.jpeg" alt="clown" height="150">
</a>
<div class="desc">Clown<br>Price: $499.99</div>
</div>
<div class="img">
  <a href="#">
   <img src="images/ghost_face.jpg" alt="ghost_face" height="150">
</a>
<div class="desc">Ghost Face<br>Price: $599.99</div>
</div>
<div class="img">
  <a href="#">
   <img src="images/gruesome_bat.jpg" alt="gruesome_bat" height="150">
</a>
<div class="desc">Gruesome Bat<br>Price: $999.99</div>
</div>

<div style="clear:both"></div>
<div style="height:50px"><p>&nbsp;</p></div>

<div id="masks">
 <h1>
  Masks
</h1>

</div>
<div class="img">
  <a href="#">
   <img src="/images/blurp-charlie-mask.jpg" alt="blurp_charlie_mask" height="150">
</a>
<div class="desc">Blurp Charlie<br>Price: $299.99</div>
</div>
<div class="img">
  <a href="#">
   <img src="images/scary-mask-32.jpg" alt="scary mask 32" height="150">
</a>
<div class="desc">Scary Monster<br>Price: $599.99</div>
</div>
<div class="img">
  <a href="#">
   <img src="images/scary-werewolf-mask.jpg" alt="scary werewolf mask" height="150">
</a>
<div class="desc">Scary Werewolf<br>Price: $499.99</div>
</div>
<div class="img">
  <a href="#">
   <img src="images/freddy-krueger.jpg" alt="freddy krueger" height="150">
</a>
<div class="desc">Freddy Krueger<br>Price: $799.99</div>
</div>

<div style="clear:both"></div>
<div style="height:50px"><p>&nbsp;</p></div>

<h1 id="decors">Home Decorations</h1>
<div class="img">
    <a href="#">
        <img src="/images/pumpkins1.jpg" alt="pumpkins1" width="200">
    </a>
    <div class="desc">Jack O' Lanterns<br>Price: $899.99</div>
</div>
<div class="img">
    <a href="#">
        <img src="images/ghosts.jpg" alt="ghosts" width="200">
    </a>
    <div class="desc">Inflatable Decors<br>Price: $699.99</div>
</div>
<div class="img">
    <a href="#">
        <img src="images/ghosts2.jpg" alt="ghosts 2" width="200">
    </a>
    <div class="desc">Ghosts<br>Price: $599.99</div>
</div>
<div style="clear:both"></div>
<div style="height:300px"><p>&nbsp;</p></div>

</div> <!-- end div scroll -->











</body>
</html>